<html>

<head>
    <style type="text/css">
        #yiv352070729320 a:link {
            color: #1dafcc;
            text-decoration: none;
        }

        #yiv352070729320 a:visited {
            color: #1dafcc;
            text-decoration: none;
        }

        #yiv352070729320 a:hover {
            color: #1dafcc;
            text-decoration: underline;
        }

        #yiv3520707293 a.yiv3520707293button:hover {
            color: #fff;
            text-decoration: none;
        }

        #yiv352070729320 a:active {
            color: #0093b2;
            text-decoration: none;
        }

        #yiv3520707293 .yiv3520707293logo {
            margin-left: 50px;
            border: 0px;
        }

        #yiv3520707293 p.yiv3520707293title {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #777;
            font-size: 20px;
            text-align: center;
            line-height: 25px;
        }

        #yiv3520707293 p.yiv3520707293subtitle {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #777;
            font-size: 16px;
            text-align: center;
            line-height: 28px;
        }

        #yiv3520707293 p.yiv3520707293body {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #555;
            font-size: 16px;
            line-height: 28px;
        }

        #yiv3520707293 p.yiv3520707293bodysmall {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 400;
            color: #555;
            font-size: 13px;
        }

        #yiv3520707293 .yiv3520707293whitelink {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 400;
            color: #fff;
            font-size: 10px;
        }

        #yiv3520707293 .yiv3520707293pagefooter {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 400;
            color: #777;
            font-size: 10px;
        }

        #yiv3520707293 .yiv3520707293lineitemlabels {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #555;
            font-size: 16px;
            line-height: 20px;
        }

        #yiv3520707293 .yiv3520707293lineitem {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 400;
            color: #555;
            font-size: 13px;
            line-height: 22px;
        }

        #yiv3520707293 p.yiv3520707293smlighttext {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #777;
            font-size: 13px;
        }

        #yiv3520707293 .yiv3520707293button {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #fff;
            text-decoration-color: #fff;
            background-color: #1dafcc;
            border: none;
            border-radius: 5px;
            padding: 13px 35px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        #yiv3520707293 .yiv3520707293primarybutton {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #fff;
            text-decoration-color: #fff;
            background-color: #6dbe45;
            border: none;
            border-radius: 5px;
            padding: 13px 35px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div class="yiv3520707293" id="yiv3520707293">
        <title>You've Received A Dcoument</title>

        <div>
            <div>
                <center>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E6E6E6">
                        <tbody>
                            <tr>
                                <td align="center" colspan="1" rowspan="1" valign="top">

                                    <table align="center" style="margin:50px 0px 30px 0px;" width="600" border="1px"
                                        cellpadding="0" cellspacing="0" bgcolor="#FFF">
                                        <tbody>
                                            <tr>
                                                <td align="center" colspan="1" rowspan="1" valign="top">

                                                    <table align="center" width="100%" height="100" border="0"
                                                        cellpadding="0" cellspacing="0" bgcolor="#1DAFCC">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="1" rowspan="1" valign="middle">
                                                                    <a shape="rect"
                                                                        href="http://trackemail.parchment.com/track/click/30717337/www.parchment.com?p=eyJzIjoiUlRsRHM2QklRV01fOWl0SlJrUXFuWjF4YndrIiwidiI6MSwicCI6IntcInVcIjozMDcxNzMzNyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvd3d3LnBhcmNobWVudC5jb21cIixcImlkXCI6XCJmZGI3NzZkNzVjNjE0MzYwOTAwZjg2YTZhY2MwODYyZVwiLFwidXJsX2lkc1wiOltcIjU4Njc2MjhmYzAyOTJlNTE5MDk3YjIzNTMwZGQxOGE3NzIxYTYzMDRcIl19In0"
                                                                        target="_blank" rel="noreferrer noopener"><img
                                                                            class="yiv3520707293logo"
                                                                            id="yiv3520707293ymail_ctr_id_-258459-2"
                                                                            src="http://www.parchment.com/images/parchment-logo.png"
                                                                            width="160" height="30" /></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                    <table align="center" width="100%" height="60" border="0"
                                                        cellpadding="0" cellspacing="0" bgcolor="#F4F4F4">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="1" rowspan="1" valign="middle">
                                                                    <p class="yiv3520707293title"><img
                                                                            id="yiv3520707293ymail_ctr_id_-743976-3"
                                                                            src="http://www.parchment.com/images/icon-doc-received.png"
                                                                            width="49" height="30"
                                                                            style="margin:0px 0px 0px;" />You've
                                                                        received A
                                                                        Document</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                    <table align="center" width="100%" border="0" cellspacing="0"
                                                        bgcolor="#FFF">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="1" rowspan="1" valign="top">
                                                                    <div style="margin:40px 50px;">
                                                                        <p class="yiv3520707293body">Dear {{!RecipientName}},<br
                                                                                clear="none" /><br clear="none" />

                                                                            <b>{{!SenderName}}</b> has sent you
                                                                            a
                                                                            document on behalf of <b>{{!RecipientName}} </b>.
                                                                            This
                                                                            document is available to download for 30
                                                                            days, so
                                                                            your prompt attention is requested.
                                                                        </p>

                                                                        <div style="margin:20px 0px 30px 0px;">
                                                                            <center><a shape="rect"
                                                                                    class="yiv3520707293primarybutton"
                                                                                    href="{{!Link}}"
                                                                                    target="_blank"
                                                                                    rel="noreferrer noopener">Access the
                                                                                    Document</a></center>
                                                                        </div>

                                                                        <center>
                                                                            <p class="yiv3520707293smlighttext">
                                                                                If the button above does not work, copy
                                                                                and
                                                                                paste the following URL in a browser
                                                                                window<br clear="none" />
                                                                                <a shape="rect"
                                                                                    href="{{!Link}}"
                                                                                    target="_blank"
                                                                                    rel="noreferrer noopener">{{!Link}}</a><br
                                                                                    clear="none" /><br clear="none" />
                                                                            </p>
                                                                        </center>

                                                                        <p class="yiv3520707293body">
                                                                            Thank you for using Parchment!<br
                                                                                clear="none" /><br clear="none" />
                                                                        </p>

                                                                        <p class="yiv3520707293bodysmall">
                                                                            <b>About Parchment - The most advanced
                                                                                digital
                                                                                credentials service</b><br
                                                                                clear="none" /><br clear="none" />

                                                                            Parchment is the most widely adopted digital
                                                                            credential service, allowing learners,
                                                                            academic institutions, and employers to
                                                                            request,
                                                                            verify, and share credentials in
                                                                            simple and secure ways. The platform has
                                                                            helped
                                                                            millions of people and thousands
                                                                            of schools and universities exchange more
                                                                            than 30
                                                                            million transcripts and other
                                                                            credentials globally.<br clear="none" /><br
                                                                                clear="none" />

                                                                            Please do not respond to this message. This
                                                                            notification has been sent to you by
                                                                            Parchment on behalf of the Requestor noted
                                                                            above.
                                                                            Parchment respects your
                                                                            privacy. This email and any attachments are
                                                                            confidential and are intended solely
                                                                            for the use of the named addressee. If you
                                                                            have
                                                                            received this email in error, please
                                                                            <a shape="rect"
                                                                                href="http://trackemail.parchment.com/track/click/30717337/parchmentsupport.force.com?p=eyJzIjoidF9NYVk0QzE4RTBPU2RfVXZkRFBDaEFkODNNIiwidiI6MSwicCI6IntcInVcIjozMDcxNzMzNyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3BhcmNobWVudHN1cHBvcnQuZm9yY2UuY29tXFxcL3NcXFwvP2xhbmd1YWdlPWVuX1VTXCIsXCJpZFwiOlwiZmRiNzc2ZDc1YzYxNDM2MDkwMGY4NmE2YWNjMDg2MmVcIixcInVybF9pZHNcIjpbXCI4ZDliMjJjN2RkYTE3MDAyMDIwYTNiZDQxNmIyZjM4ODY2YTRkMTc4XCJdfSJ9"
                                                                                target="_blank"
                                                                                rel="noreferrer noopener">contact
                                                                                Parchment</a>.
                                                                            Thank you.
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                    <table align="center" width="100%" height="60" border="0"
                                                        cellpadding="0" cellspacing="0" bgcolor="#F4F4F4">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="1" rowspan="1" valign="middle">
                                                                    <div style="margin:10px 100px;">
                                                                        <p class="yiv3520707293title"><img
                                                                                id="yiv3520707293ymail_ctr_id_-817139-4"
                                                                                src="http://www.parchment.com/images/icon-support.png"
                                                                                width="64" height="64"
                                                                                style="margin:10px 0px 15px 0px;" /><br
                                                                                clear="none" />
                                                                            We're here if you need us
                                                                        </p>
                                                                        <p class="yiv3520707293subtitle">
                                                                            The <a shape="rect"
                                                                                href="http://trackemail.parchment.com/track/click/30717337/parchmentsupport.force.com?p=eyJzIjoidF9NYVk0QzE4RTBPU2RfVXZkRFBDaEFkODNNIiwidiI6MSwicCI6IntcInVcIjozMDcxNzMzNyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3BhcmNobWVudHN1cHBvcnQuZm9yY2UuY29tXFxcL3NcXFwvP2xhbmd1YWdlPWVuX1VTXCIsXCJpZFwiOlwiZmRiNzc2ZDc1YzYxNDM2MDkwMGY4NmE2YWNjMDg2MmVcIixcInVybF9pZHNcIjpbXCI4ZDliMjJjN2RkYTE3MDAyMDIwYTNiZDQxNmIyZjM4ODY2YTRkMTc4XCJdfSJ9"
                                                                                target="_blank"
                                                                                rel="noreferrer noopener"><b>Parchment
                                                                                    Help
                                                                                    Center</b></a> knowledgebase is
                                                                            packed
                                                                            with useful help articles, topics, links,
                                                                            FAQs, and
                                                                            support
                                                                            resources. Don’t hesitate to <a shape="rect"
                                                                                href="http://trackemail.parchment.com/track/click/30717337/parchmentsupport.force.com?p=eyJzIjoidF9NYVk0QzE4RTBPU2RfVXZkRFBDaEFkODNNIiwidiI6MSwicCI6IntcInVcIjozMDcxNzMzNyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3BhcmNobWVudHN1cHBvcnQuZm9yY2UuY29tXFxcL3NcXFwvP2xhbmd1YWdlPWVuX1VTXCIsXCJpZFwiOlwiZmRiNzc2ZDc1YzYxNDM2MDkwMGY4NmE2YWNjMDg2MmVcIixcInVybF9pZHNcIjpbXCI4ZDliMjJjN2RkYTE3MDAyMDIwYTNiZDQxNmIyZjM4ODY2YTRkMTc4XCJdfSJ9"
                                                                                target="_blank"
                                                                                rel="noreferrer noopener"><b>check it
                                                                                    out</b></a> for anything
                                                                            on your mind.</p>

                                                                        <div style="margin:20px 0px 50px 0px;">
                                                                            <center><a shape="rect"
                                                                                    class="yiv3520707293button"
                                                                                    href="http://trackemail.parchment.com/track/click/30717337/parchmentsupport.force.com?p=eyJzIjoidF9NYVk0QzE4RTBPU2RfVXZkRFBDaEFkODNNIiwidiI6MSwicCI6IntcInVcIjozMDcxNzMzNyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3BhcmNobWVudHN1cHBvcnQuZm9yY2UuY29tXFxcL3NcXFwvP2xhbmd1YWdlPWVuX1VTXCIsXCJpZFwiOlwiZmRiNzc2ZDc1YzYxNDM2MDkwMGY4NmE2YWNjMDg2MmVcIixcInVybF9pZHNcIjpbXCI4ZDliMjJjN2RkYTE3MDAyMDIwYTNiZDQxNmIyZjM4ODY2YTRkMTc4XCJdfSJ9"
                                                                                    target="_blank"
                                                                                    rel="noreferrer noopener">Help
                                                                                    Center</a>
                                                                            </center>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                    <table align="center" width="100%" height="100" border="0"
                                                        cellpadding="0" cellspacing="0" bgcolor="#555">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="1" rowspan="1" valign="middle" width="33%">
                                                                    <a shape="rect"
                                                                        href="http://trackemail.parchment.com/track/click/30717337/www.parchment.com?p=eyJzIjoiUlRsRHM2QklRV01fOWl0SlJrUXFuWjF4YndrIiwidiI6MSwicCI6IntcInVcIjozMDcxNzMzNyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvd3d3LnBhcmNobWVudC5jb21cIixcImlkXCI6XCJmZGI3NzZkNzVjNjE0MzYwOTAwZjg2YTZhY2MwODYyZVwiLFwidXJsX2lkc1wiOltcIjU4Njc2MjhmYzAyOTJlNTE5MDk3YjIzNTMwZGQxOGE3NzIxYTYzMDRcIl19In0"
                                                                        target="_blank" rel="noreferrer noopener"><img
                                                                            class="yiv3520707293logo"
                                                                            id="yiv3520707293ymail_ctr_id_-433690-5"
                                                                            src="http://www.parchment.com/images/parchment-logo.png"
                                                                            width="130" height="24" /></a>
                                                                </td>
                                                                <td colspan="1" rowspan="1" valign="middle" width="33%">
                                                                    <a shape="rect"
                                                                        href="http://trackemail.parchment.com/track/click/30717337/www.parchment.com?p=eyJzIjoiUlRsRHM2QklRV01fOWl0SlJrUXFuWjF4YndrIiwidiI6MSwicCI6IntcInVcIjozMDcxNzMzNyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvd3d3LnBhcmNobWVudC5jb21cIixcImlkXCI6XCJmZGI3NzZkNzVjNjE0MzYwOTAwZjg2YTZhY2MwODYyZVwiLFwidXJsX2lkc1wiOltcIjU4Njc2MjhmYzAyOTJlNTE5MDk3YjIzNTMwZGQxOGE3NzIxYTYzMDRcIl19In0"
                                                                        target="_blank" rel="noreferrer noopener">
                                                                        <center>www.parchment.com</center>
                                                                    </a>
                                                                </td>
                                                                <td align="right" colspan="1" rowspan="1"
                                                                    valign="middle" width="33%"><a shape="rect"
                                                                        href="http://trackemail.parchment.com/track/click/30717337/www.linkedin.com?p=eyJzIjoiRF9SZVJ4dkFQRVhPc3g4bENMVGNNM1FFX1lnIiwidiI6MSwicCI6IntcInVcIjozMDcxNzMzNyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5saW5rZWRpbi5jb21cXFwvY29tcGFueVxcXC9wYXJjaG1lbnRcXFwvXCIsXCJpZFwiOlwiZmRiNzc2ZDc1YzYxNDM2MDkwMGY4NmE2YWNjMDg2MmVcIixcInVybF9pZHNcIjpbXCIyMDJkNjMxY2E3NzE1MjhlYTA4YzU3ZWIzZjM4NzA0MDg1MGIyODc1XCJdfSJ9"
                                                                        target="_blank" rel="noreferrer noopener"><img
                                                                            id="yiv3520707293ymail_ctr_id_-897696-6"
                                                                            src="http://www.parchment.com/images/icon-social-linkedin.png"
                                                                            width="24" height="16"
                                                                            style="" /></a>&nbsp;&nbsp;
                                                                    <a shape="rect"
                                                                        href="http://trackemail.parchment.com/track/click/30717337/www.facebook.com?p=eyJzIjoiRDg1bWlqN3pnT1oxcF9ILXROTGNoY2RnWkRFIiwidiI6MSwicCI6IntcInVcIjozMDcxNzMzNyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5mYWNlYm9vay5jb21cXFwvUGFyY2htZW50RmFuc1xcXC9cIixcImlkXCI6XCJmZGI3NzZkNzVjNjE0MzYwOTAwZjg2YTZhY2MwODYyZVwiLFwidXJsX2lkc1wiOltcIjIzODZmYmVlMWYwY2ZmN2U4Njk5MDE1ZWNiNWQ2YmM1ODQ5MDdmNmNcIl19In0"
                                                                        target="_blank" rel="noreferrer noopener"><img
                                                                            id="yiv3520707293ymail_ctr_id_-413630-7"
                                                                            src="http://www.parchment.com/images/icon-social-facebook.png"
                                                                            width="24" height="16"
                                                                            style="" /></a>&nbsp;&nbsp;
                                                                    <a shape="rect"
                                                                        href="http://trackemail.parchment.com/track/click/30717337/www.twitter.com?p=eyJzIjoiWHhuMTZBSjJBSDY4Z0pZd3RSS3l4QUVrdm4wIiwidiI6MSwicCI6IntcInVcIjozMDcxNzMzNyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy50d2l0dGVyLmNvbVxcXC9wYXJjaG1lbnRcIixcImlkXCI6XCJmZGI3NzZkNzVjNjE0MzYwOTAwZjg2YTZhY2MwODYyZVwiLFwidXJsX2lkc1wiOltcIjcxMTMxNzE1YzZjNmEzMjJjN2EyNTY3MTI0MmY4ZjdmMTE2OTA0NjJcIl19In0"
                                                                        target="_blank" rel="noreferrer noopener"><img
                                                                            id="yiv3520707293ymail_ctr_id_-993171-8"
                                                                            src="http://www.parchment.com/images/icon-social-twitter.png"
                                                                            width="24" height="16"
                                                                            style="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <span>©2019 Parchment&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a shape="rect"
                                            href="http://trackemail.parchment.com/track/click/30717337/www.parchment.com?p=eyJzIjoiMnhZSVU3NWFpU21hSFJ2dkp2NTVHMHA3YVZVIiwidiI6MSwicCI6IntcInVcIjozMDcxNzMzNyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5wYXJjaG1lbnQuY29tXFxcL3ByaXZhY3ktcG9saWN5XFxcL1wiLFwiaWRcIjpcImZkYjc3NmQ3NWM2MTQzNjA5MDBmODZhNmFjYzA4NjJlXCIsXCJ1cmxfaWRzXCI6W1wiN2ViYmRjNGViNmFlNTQxOTczZTkzNjFlNDU5N2Q1ZDU1NjEzOGE1ZVwiXX0ifQ"
                                            target="_blank" rel="noreferrer noopener">Privacy
                                            Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a shape="rect"
                                            href="http://trackemail.parchment.com/track/click/30717337/www.parchment.com?p=eyJzIjoiWHl4V0VXM01iQnVOaFZ5U1R0blp4ZWtxQlpJIiwidiI6MSwicCI6IntcInVcIjozMDcxNzMzNyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5wYXJjaG1lbnQuY29tXFxcL3Rlcm1zLW9mLXVzZVxcXC9cIixcImlkXCI6XCJmZGI3NzZkNzVjNjE0MzYwOTAwZjg2YTZhY2MwODYyZVwiLFwidXJsX2lkc1wiOltcIjdmNTdiMDkzM2QzZDJkYjhjYzExYWQyMDY5NDcwNGVkNWM4ZWIyZmJcIl19In0"
                                            target="_blank" rel="noreferrer noopener">Terms of Use</a><br
                                            clear="none" /><br clear="none" /><br clear="none" /></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </center>
                <img id="yiv3520707293ymail_ctr_id_-114390-9"
                    src="http://trackemail.parchment.com/track/open.php?u=30717337&amp;id=fdb776d75c614360900f86a6acc0862e"
                    height="1" width="1" />
            </div>
        </div>
    </div>
</body>

</html>
